@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }

#root {
    width: 100%;
    /*min-height: 100vh; */
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.login-logo {
    width: 15.625rem; 
    height: auto;
    margin-bottom: 1.25rem;
  }

.login-container {
    text-align: center;
    padding: 1.25rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.login-form input {
    padding: 0.625rem;
    min-width: 15.625rem;
}

button {
    background-color: #7a7777;
    font-family: 'Nunito', sans-serif;
    color: white
}
.view-content button {
    border: 0.025rem solid #7a7777; 
    transition: border 0.2s ease;
}
.view-content button:hover {
    border: 0.025rem solid black; 
}

input {
    transition: border-color 0.2s ease-in-out;
    border-radius: 0.25rem;
    border-width: 0.0625rem;
}
input:focus {
    border: 0.0625rem solid #6495ED;
    outline: none;
}

/* Loading Spinner */
.loading-spinner {
	width: 2.5rem; /* Width in rem */
	height: 2.5rem; /* Height in rem */
	border: 0.3125rem solid #f3f3f3; /* Light gray background color */
	border-top: 0.3125rem solid blue; /* Blue spinner color */
	border-radius: 50%;
	animation: spin 1s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	backdrop-filter: blur(0.3125rem); /* Apply blur to background */
}

/* Spinner Animation */
@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.error-container {
    min-height: 1.5rem;
}

.error-message {
    color: red;
    display: inline-block;
}

#import-tradeset{
    margin: 1rem 0.5rem;
    display: inline-block;
}

.tradeset-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
	gap: 1.25rem;
	margin: 0.625rem;
	padding: 0.625rem;
	overflow-y: auto;
}

.trade-set {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 0.3125rem;
	padding: 0.9375rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.tradeset-item {
	margin-bottom: 0.625rem;
	display: flex;
	justify-content: space-between;
}

.tradeset-item-label {
	font-weight: bold;
	color: #333;
}

.tradeset-item-value {
	color: #666;
}

.trade-set:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}

.tradeset-container {
	scrollbar-width: thin;
	scrollbar-color: #888 #e0e0e0;
}

@media (max-width: 48rem) {
	.tradeset-container {
		grid-template-columns: 1fr;
	}
}
